@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #78f253;
}

.swiper-image {
  width: 700px; 
  height: 300px;
  border-radius: 8px;
  margin-left: 300px;
}



/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
*/
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

 
.mySwiper {
  width: 100%;
  padding-bottom: 40px; /* Espaço extra para a paginação aparecer */
  position: relative; /* Para a paginação posicionar certo */
}

.swiper-pagination {
  position: absolute !important;
  text-align: center;
  width: 100%;
  bottom: 10px !important;
  left: 0;
}


}
